body {
  background-color: #fcf5e4;
}
* {
  font-family: "Lora", serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.container {
  position: relative;
  max-width: 756px;
  margin: 0 auto;
}




.cutie {
  position: absolute;
  right: 20px;
  top: -40px;
  width: 100px;
}
header {
  width: 95%;
  background-color: #353535;
  padding: 1% 2%;
  margin: 30px auto;
  border-radius: 15px;
}
header * {
  font-family: "Roboto Mono", monospace;
  font-weight: 450;
  color: rgb(202, 210, 212);
}
.moji {
  display: inline-block;
}
.blink {
  display: inline-block;
  width: 0.6em;
  background: currentColor;
  animation: blink-animation 1s steps(2, start) infinite;
}
@keyframes blink-animation {
  to {
    visibility: hidden;
  }
}



nav {
  width: 95%;
  margin: 0 auto;
}
nav > ul {
  overflow-x: auto;
  white-space: nowrap;
  padding-bottom: 5px;
}
nav li {
  list-style: none;
  margin-right: 15px;
  display: inline-block;
}
nav a {
  font-weight: 450;
  display: inline-block;
  background-color: #353535;
  border-radius: 3px;
  padding: 1px 4px;
  text-decoration: none;
  font-family: "Roboto Mono", monospace;
  transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out;
  color: lightgray;
}
nav a.active {
  color: whitesmoke;
  background-color: #151515;
}
nav a:hover {
  color: whitesmoke;
  background-color: #151515;
}







main {
  width: 95%;
  margin: 0 auto;
}
main * {
}
main h1 {
  font-size: 28px;
  margin: 15px 0 15px 0;
}
main p {
  margin: 10px 0px 10px 10px;
}
main a {
  color: black;
  text-decoration: none;
  background-color: #f2e39b;
  padding: 1px 4px;
  border-radius: 2px;
  box-decoration-break: clone;
  transition: background-color 0.3s ease-in-out;
}
main a:hover {
  background-color: #f2d49b;
}




.filter-box {
  overflow-x: auto;
  white-space: nowrap;
  margin: 15px 0;
}
.filter-box h3 {
  display: inline-block;
}
.filter-box a {
  margin-right: 15px;
  font-size: 14px;
  display: inline-block;
  vertical-align: text-bottom;
  transition: background-color 0.3s ease-in-out;
}
.filter-box a.active {
  background-color: #f2d49b;
}

.post-meta {
  margin: 15px 0;
}
.post-meta * {
  color: gray;
}
.post-meta > div {
  margin: 5px 0;
}
.post-meta > div > div {
  display: inline;
}
.post-meta ul {
  display: inline-block;
}
.post-meta li {
  display: inline-block;
  list-style: none;
}



.count {
  font-size: 0.6em;
  color: gray;
}
.year-box {
  margin: 15px 0;
  border-bottom: thin solid rgba(128, 128, 128, 0.2);
}
.month-box {
}
.month {
  margin-left: 10px;
}
.entry-box {
  margin-left: 10px;
}



.tag-box {
  display: flex;
  flex-wrap: wrap;
  gap: 15px;

}
.tag-box li {
  list-style: none;
}
.tag-box a {
}



footer {
  padding: 60px 0;
  text-align: center;
  font-size: 14px;
  color: gray;
}
