{{ define "header" }}
  <img class="cutie" src="/cutie/white-cat.gif" alt="">
  <p>> Xin chào Ი︵𐑼</p>
  <p>> Tớ là Vũ Chí. Cảm ơn đã ghé qua.</p>
  <p>> Chỗ này toàn là nốt cuối ngày của tớ.ᶻ 𝗓 𐰁ᶻ<span class="blink">&nbsp;</span></p>
{{ end }}


{{ define "main" }}
<h1>những nốt cuối ngày</h1>
<div class="filter-box">
  <h3>mút ></h3>
  {{/* Get the current mood term from the page context. .Data.Term is the raw string. */}}
  {{- $currentMoodSlug := .Data.Term -}}

  <a href="/moods/depressed/"
     {{- if eq $currentMoodSlug "depressed" }} class="active" {{- end }}>/ᐠ ╥ ˕ ╥マ</a><a href="/moods/sad/"
     {{- if eq $currentMoodSlug "sad" }} class="active" {{- end }}>/ᐠづ. ◟マ</a><a href="/moods/normal/"
     {{- if eq $currentMoodSlug "normal" }} class="active" {{- end }}>/ᐠ - ˕ -マ</a><a href="/moods/happy/"
     {{- if eq $currentMoodSlug "happy" }} class="active" {{- end }}>/ᐠ >ヮ< マ</a>
</div>

  {{- $pages := .Pages.ByPublishDate.Reverse }}
  {{- if site.Params.ShowAllPagesInArchive }}
  {{- $pages = site.RegularPages }}
  {{- end }}

  {{- range $pages.GroupByPublishDate "2006" }}
  {{- if ne .Key "0001" }}
  <div class="year-box">
    {{- $year := replace .Key "0001" "" }}
    <h2 class="year" id="{{ $year }}">
        {{- $year -}}
      <sup class="count">&nbsp;{{ len .Pages }}</sup>
    </h2>
    {{- range .Pages.GroupByDate "January" }}
    <div class="month-box">
      <h3 class="month" id="{{ $year }}-{{ .Key }}">
          {{- .Key -}}
        <sup class="count">&nbsp;{{ len .Pages }}</sup>
      </h3>
      <div class="entry-box">
        {{- range .Pages }}
        {{- if eq .Kind "page" }}
        <p class="entry">
          <a class="entry-link" href="{{ .Permalink }}">{{ .LinkTitle }}</a>
        </p>
        {{- end }}
        {{- end }}
      </div>
    </div>
    {{- end }}
  </div>
  {{- end }}
  {{- end }}
{{ end }}

