{{ define "header" }}
  <img class="cutie" src="/cutie/white-cat.gif" alt="">
  <p>> Xin chào Ი︵𐑼</p>
  <p>> Tớ là Vũ Chí. Cảm ơn đã ghé qua.</p>
  <p>> Chỗ này chứa chủ đề của những suy nghĩ của tớ.<span class="blink">&nbsp;</span></p>
{{ end }}
{{ define "main" }}
  <h1>chọn chủ đề</h1>
  {{ .Content }}
  <ul class="tag-box">
    {{ range .Pages }}
      <li>
        <a href="{{ .RelPermalink }}">{{ .LinkTitle }} 
          <sup class="count">&nbsp;{{ len .Pages }}</sup>
        </a>
      </li>
    {{ end }}
  </ul>
{{ end }}
