{{ define "header" }}
  <p>> Cảm ơn đã ghé qua.</p>
  <p>> Chỗ này chứa những suy nghĩ của tớ theo chủ đề.<span class="blink">&nbsp;</span></p>
{{ end }}
{{ define "main" }}
  <h1>chủ đề: {{ .Title }}</h1>

  {{- $pages := .Pages.ByPublishDate.Reverse }}
  {{- if site.Params.ShowAllPagesInArchive }}
  {{- $pages = site.RegularPages }}
  {{- end }}

  {{- range $pages.GroupByPublishDate "2006" }}
  {{- if ne .Key "0001" }}
  <div class="year-box">
    {{- $year := replace .Key "0001" "" }}
    <h2 class="year" id="{{ $year }}">
        {{- $year -}}
      <sup class="count">&nbsp;{{ len .Pages }}</sup>
    </h2>
    {{- range .Pages.GroupByDate "January" }}
    <div class="month-box">
      <h3 class="month" id="{{ $year }}-{{ .Key }}">
          {{- .Key -}}
        <sup class="count">&nbsp;{{ len .Pages }}</sup>
      </h3>
      <div class="entry-box">
        {{- range .Pages }}
        {{- if eq .Kind "page" }}
        <p class="entry">
          <a class="entry-link" href="{{ .Permalink }}">{{ .LinkTitle }}</a>
        </p>
        {{- end }}
        {{- end }}
      </div>
    </div>
    {{- end }}
  </div>
  {{- end }}
  {{- end }}
{{ end }}
