body {
  background-color: var(--base-bg-color);
  font-family: var(--base-font);
  font-size: var(--base-font-size);
  height: 3000px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
}

.container {
  max-width: var(--max-width);
  margin: 0 auto;
  position: relative;
}
