:root {
  --base-bg-color: #fcf5e4; /* Your body background color */
  --link-color: #f2e39b;
  --base-font: "Lora", serif; /* Your body font family */
  --base-font-size: 18px;     /* Your body font size */
  --max-width: 756px;    /* Your container max-width */
}
