@import 'variables';

/* body, *, .container */
@import 'base';

@import 'nav';

@import 'header';

@import 'footer';


@import 'partials/post-meta';
@import 'partials/moods-box';
@import 'partials/tags-box';
@import 'partials/listing';


main {
  width: 95%;
  margin: 0 auto;
}
main * {
}
main h1 {
  font-size: 28px;
  margin: 15px 0;
}
main p {
  text-indent: 1.5rem;
}
main a {
  color: black;
  background-color: #f2e39b;
  padding: 1px 4px;
  border-radius: 2px;
  box-decoration-break: clone;
  -webkit-box-decoration-break: clone;
  transition: background-color 0.1s ease-in-out;
}
main a:hover {
  background-color: #f2d49b;
}















