<!DOCTYPE html>
<html lang="{{ site.Language.LanguageCode }}" dir="{{ or site.Language.LanguageDirection `ltr` }}">
  <head>
    {{ partial "head.html" . }}
    {{ block "head" .}}{{ end }}
  </head>
  <body>
    <div class="container">
      <header>
        {{ partial "header.html" . }}
        {{ block "header" .}}{{ end }}
      </header>
      <nav>
        {{ partial "nav.html" .}}
      </nav>
      <main>
        {{ block "main" . }}{{ end }}
        {{ block "main1" . }}{{ end }}
        {{ block "main2" . }}{{ end }}
      </main>
      <footer>
        {{ partial "footer.html" . }}
      </footer>
    </div>
    <script defer src="https://cdn.jsdelivr.net/npm/instant.page@5.2.0/instantpage.min.js" type="module" integrity="sha384-5L/4uJLTvP1F5qH1nFvmY7SbhXU4iRPTFtxQXjkrD77LtRRhU7v+ccE9gQlDdvV9"></script>
  </body>
</html>
