<!DOCTYPE html>
<html lang="{{ site.Language.LanguageCode }}" dir="{{ or site.Language.LanguageDirection `ltr` }}">
  <head>
    {{ partial "head.html" . }}
    {{ block "head" .}}{{ end }}
  </head>
  <body>
    <div class="container">
      <header>
        {{ partial "header.html" . }}
        {{ block "header" .}}{{ end }}
      </header>
      <nav>
        {{ partial "nav.html" .}}
      </nav>
      <main>
        {{ block "main" . }}{{ end }}
        {{ block "main1" . }}{{ end }}
        {{ block "main2" . }}{{ end }}
      </main>
      <footer>
        {{ partial "footer.html" . }}
      </footer>
    </div>
    {{ partial "script.html" .}}
  </body>
</html>
