{{ define "header" }}
  <p>> Cảm ơn đã ghé qua.</p>
  <p>> Tớ mong câu từ của tớ... ý tớ là cậu thích bài viết này.<span class="blink">&nbsp;</span></p>
{{ end }}


{{ define "main" }}
  <h1 class="post-title">{{ .Title }}</h1>
  <div class="post-meta">
    {{ $dateMachine := .Date | time.Format "2006-01-02T15:04:05-07:00" }}
    {{ $dateHuman := .Date | time.Format ":date_long" }}
    <time datetime="{{ $dateMachine }}">{{ $dateHuman }}</time>
    {{/* Display Tags */}}
    {{ partial "terms.html" (dict "taxonomy" "tags" "page" .) }}

    {{/* Display Categories */}}
    {{ partial "terms.html" (dict "taxonomy" "categories" "page" .) }}

    {{/* Display Moods */}}
    {{ partial "terms.html" (dict "taxonomy" "moods" "page" .) }}
  </div>
  <div class="post-content">
    {{ .Content }}
  </div>
{{ end }}
