.count {
  font-size: 0.6em;
  color: gray;
}
.year-box {
  margin: 15px 0;
  border-bottom: thin solid rgba(128, 128, 128, 0.2);
}
.month-box {
  margin-left: 10px;
}
.month {
}
.entry-box {
}
.entry {
  text-indent: 0;
  margin: 10px 0;
}
